@using SMSApp.Entities
@using SMSApp.Common
@using SMSApp.Controllers
@model Discussion
@{
    ViewBag.Title = "View Discussions";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

@{Html.BeginForm("Discussion", "Student", FormMethod.Post, new { id = "frm_add_proff", dialog = "false", enctype = "multipart/form-data" });}
<script src="~/Scripts/jquery-ui.js"></script>
<div class="page-content">
    <h2>View Discussions</h2>

    <table>
        <tbody>
            <tr>
                <td>Discussion</td>
                <td>
                    @Html.DropDownList("Topic", new SelectList(Helper.GetStudentDiscussion(SessionManager.LoginUserInfo.UserID), "ID", "Discussion_topic"), "--Select--", new { @required = "required" })

                </td>
            </tr>
            <tr>
                <td>Answer for Discussion</td>
                <td>
                    @Html.TextBoxFor(m => m.DiscussionAnswar, new { @maxlength = 100, @required = "required" })
                </td>
            </tr>
            <tr>
                <td>Professor Name</td>
                <td>
                    @Html.DropDownList("ddlProfessor", new SelectList(Helper.GetDDLProfessor((int)Role.Professor), "ProffesorID", "ProffesorName"), "--Select--", new { @required = "required" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Save" class="button"></td>
            </tr>
        </tbody>
    </table>

    <br />

    <div id="dvDiscussion">
        @{
            var DiscussionList = TempData["Discussion"] as List<Discussion>;
        }

        <table>
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Professor Name</th>
                    <th>Discussion Messege</th>
                    <th>Topic</th>
                    <th>Answer</th>
                </tr>
            </thead>
            <tbody>
                @{if (DiscussionList.Count > 0)
                  {
                      foreach (var item in DiscussionList)
                      {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProfessorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discussion_msg)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discussion_topic)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscussionAnswar)
                        </td>
                    </tr>
                      }
                  }
                  else
                  {
                    <tr>
                        <td>
                            No Records
                        </td>
                    </tr>
                  }
                }
            </tbody>
        </table>
    </div>



</div>

@{Html.EndForm();}

