@using SMSApp.Entities
@using SMSApp.Controllers
@{
    ViewBag.Title = "AddProfessor";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}
@model UserInfoEntity
@{Html.BeginForm("UpdateStudent", "Student", FormMethod.Post, new { id = "frm_edit_student", dialog = "false", enctype = "multipart/form-data" });}
<script src="~/Scripts/jquery-ui.js"></script>
<div class="page-content">
    <h2>Edit Student</h2>
    <table cellpadding="4" cellspacing="4">
        <tbody>
            <tr>
                <td>First Name</td>
                <td>
                    @Html.TextBoxFor(m => m.FirstName, new { @maxlength = 100, @required = "required" })
                </td>
            </tr>
            <tr>
                <td>Middle Name</td>
                <td>
                @Html.TextBoxFor(m => m.MiddleName, new { @maxlength = 100, @required = "required" })
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                @Html.TextBoxFor(m => m.LastName, new { @maxlength = 100, @required = "required" })
            </tr>
            <tr>
                <td>Phone</td>
                <td>
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @maxlength = 10, @required = "required" })
                </td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>

                    @Html.TextBoxFor(m => m.DateOfBirth, "{0:yyyy/MM/dd}", new { @required = "required" })
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    @Html.TextBoxFor(m => m.EmailAddress, new { @maxlength = 100, @required = "required" })
                </td>
            </tr>
            <tr>
                <td>Date of Joining</td>
                <td>
                    @Html.TextBoxFor(m => m.DateOfJoining, "{0:yyyy/MM/dd}", new { @required = "required" })
                </td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    @Html.DropDownList("ddlGender", new List<SelectListItem> {
                   new SelectListItem { Text="Male",Value="M",Selected= (Model.Gender == "M" ? true : false )  },
                     new SelectListItem { Text="FeMale",Value="F",Selected= (Model.Gender == "F" ? true : false )  },
                       new SelectListItem { Text="Other",Value="O",Selected= (Model.Gender == "O" ? true : false )  },
               }, "-Select a Gender-", new { @required = "required" })
                </td>
            </tr>
            <tr>
                <td>Course</td>
                <td>
                    @Html.DropDownList("ddlCourse", new SelectList(Helper.GetDDLCourse(), "CourseID", "CourseName"), "--Select--", new { @required = "required" })
                </td>
            </tr>
            <tr>
                <td>Department</td>
                <td>
                    @Html.DropDownList("ddlDepartment", new SelectList(Helper.GetDDLDepartment(), "DepartmentID", "DepartmentName"), "--Select--", new { @required = "required" })
                </td>
            </tr>
            <tr>
                <td>Professor</td>
                <td>
                    @Html.DropDownList("ddlProfessor", new SelectList(Helper.GetDDLProfessor((int)Role.Professor), "ProffesorID", "ProffesorName"), "--Select--", new { @required = "required" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" class="button" id="btnSubmit" name="btnSubmit" value="Update Student"></td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" name="hdnerrorMessege" id="hdnerrorMessege" value="@TempData["errorMessege"]" />
    <input type="hidden" name="hdnProfessorID" id="hdnProfessorID" value="@Model.ProffesorID" />
    <input type="hidden" name="hdnCourseID" id="hdnCourseID" value="@Model.CourseID" />
    <input type="hidden" name="hdnDepartmentID" id="hdnDepartmentID" value="@Model.DepartmentID" />
    <input type="hidden" name="hdnGender" id="hdnGender" value="@Model.Gender" />
    @Html.HiddenFor(m => m.UserID)
</div>

@{Html.EndForm();}

@section Scripts
{
    <script type="text/javascript">
        $(function () {

            $("#ddlProfessor").val($("#hdnProfessorID").val());
            $("#ddlCourse").val($("#hdnCourseID").val());
            $("#ddlDepartment").val($("#hdnDepartmentID").val());
            $("#ddlGender").val($("#hdnGender").val());

            $("#DateOfJoining").datepicker({
                changeMonth: true,
                changeYear: true
            });

            $("#DateOfBirth").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
}
