@using SMSApp.Entities
@using SMSApp.Controllers
@{
    ViewBag.Title = "View Professor";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}
@model UserInfoEntity
@{Html.BeginForm("Professor", "Professor", FormMethod.Post, new { id = "frm_login", dialog = "false" });}
<script src="~/Scripts/jquery-ui.js"></script>

<div class="page-content">
    <h2>Professor Profile</h2>
    <table>
        <tbody>
            <tr>
                <td>First Name</td>
                <td>
                    @Html.TextBoxFor(m => m.FirstName, new { @required = "required" })
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    @Html.TextBoxFor(m => m.LastName, new { @required = "required" })
                </td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @required = "required" })
                </td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>
                    @Html.TextBoxFor(m => m.DateOfBirth, "{0:yyyy/MM/dd}", new { @required = "required" })
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    @Html.TextBoxFor(m => m.EmailAddress, new { @required = "required" })
                </td>
            </tr>
            <tr>
                <td>Date of Joining</td>
                <td>
                    @Html.TextBoxFor(m => m.DateOfJoining, "{0:yyyy/MM/dd}", new { @required = "required" })
                </td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    @Html.DropDownList("Gender",new List<SelectListItem> {
                   new SelectListItem { Text="Male",Value="M",Selected= (Model.Gender == "M" ? true : false )  },
                     new SelectListItem { Text="FeMale",Value="F",Selected= (Model.Gender == "F" ? true : false )  },
                       new SelectListItem { Text="Other",Value="O",Selected= (Model.Gender == "O" ? true : false )  },
               },"-Select a Gender-",new { @required = "required"})
                    @*<select id="ddlGender" name="ddlGender" required="required">
                        <option value="">--Select--</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="O">Other</option>
                    </select>*@
                </td>
            </tr>
            <tr>
                <td>Course</td>
                <td>
                    @Html.DropDownList("CourseID", new SelectList(Helper.GetDDLCourse(), "CourseID", "CourseName", Model.CourseID), "--Select--", new { @required = "required" })
                </td>
            </tr>
            <tr>
                <td>Department</td>
                <td>
                    @Html.DropDownList("DepartmentID", new SelectList(Helper.GetDDLDepartment(), "DepartmentID", "DepartmentName", Model.DepartmentID), "--Select--", new { @required = "required" })
                </td>
            </tr>
            @*<tr>
                                    <td>Add Photo</td>
                                    <td><input type="file" name="Pic" id="Pic" /></td>
                                </tr>*@
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Update Professor" class="button">
                </td>
            </tr>
        </tbody>
    </table>

</div>

<input type="hidden" name="hdnerrorMessege" id="hdnerrorMessege" value="@TempData["errorMessege"]" />

@{Html.EndForm();}

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            if ($("#hdnerrorMessege").val() != '') {
                alert($("#hdnerrorMessege").val());
                //  $('#frm_add_proff')[0].reset();
            }
            $("#DateOfJoining").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy/mm/dd',
                maxDate :+0
            });

            $("#DateOfBirth").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy/mm/dd',
                maxDate: +0
            });
        });
    </script>
}

